#container{
    // 3 主体 
    >div:nth-child(2){
        border-top:2px solid #BC338B;
        // 3.1核心容器
        >div:nth-child(1){
            
            // 3.1.1搜索栏
            >div:nth-child(1){
                width:1160px;
                height: 26px;
                line-height: 26px;
                margin:0 auto;
                margin-top: 15px;
                padding: 15px 20px;
                border: 1px solid #c6c6c6;
                
                // 3.1.1.1左部
                >div:nth-child(1){
                    float:left;
                    >span,input,button{
                        display:block;
                        float:left;
                    }
                    >input:nth-child(2){
                        width: 168px;
                        height: 24px;
                        line-height: 24px;
                        padding: 0 0 0 10px;
                        border: 1px solid #c6c6c6;
                    }
                    >span:nth-child(3){
                        padding-left:10px;
                    }
                    >input:nth-child(4){
                        width:68px;
                        height: 24px;
                        line-height: 24px;
                        padding: 0 0 0 10px;
                        border: 1px solid #c6c6c6;
                    }
                    >button:nth-child(5){
                        color: #fff;
                        border:none;
                        width: 66px;
                        height: 26px;
                        margin-left: 20px;
                        background: #1c3a8b
                    }
                }
                //3.1.1.2右部
                >div:nth-child(2){
                    float:right;
                    >span:nth-child(1){
                        float:left;
                    }
                    // >div:nth-child(2){
                    //     float:left;
                    //     >div{
                    //         cursor: pointer;
                    //         position: relative;
                    //         top: 0;
                    //         left: 0;
                    //         z-index: 1;
                    //         width: 280px;
                    //         height: 26px;
                    //         >div:nth-child(1){
                    //             color: #fff;
                    //             text-align: center;
                    //             border-radius: 3px;
                    //             overflow: hidden;
                    //             >input{
                    //                 width: 198px;
                    //                 height: 24px;
                    //                 line-height: 24px;
                    //                 padding: 0;
                    //                 vertical-align: middle;
                    //                 border: 1px solid #c6c6c6;
                    //                 background: #fff;
                    //                 font-family: tahoma,arial,'Hiragino Sans GB',"microsoft yahei",sans-serif;
                    //                 float: left;
                    //             }
                    //             >a{
                    //                 display: block;
                    //                 width: 80px;
                    //                 height: 26px;
                    //                 line-height: 26px;
                    //                 vertical-align: middle;
                    //                 color: #fff;
                    //                 background: #999;
                    //                 text-align: center;
                    //                 float:left;
                    //             }
                    //         }
                    //         >div:nth-child(2){
                    //             position: absolute;
                    //             top: 0px;
                    //             left: 0px;
                    //             width: 280px;
                    //             height: 26px;
                    //             overflow: hidden;
                    //             bottom: auto;
                    //             right: auto;
                    //             >input{
                    //                 width:280px;
                    //                 outline:none;

                    //             }
                    //         }
                    //     }
                    // }
                    >button:nth-child(3){
                        float:left;
                    }
                }
            }

            // 3.1.2商品清单
            >div:nth-child(2){
                >ul{
                    >li{
                        width:1200px;
                        margin:0 auto;
                        >div{
                            border:2px solid #E1E9EF;
                            >p{
                                height:36px;
                                background-color:#F5F8FA;
                                >input{
                                    margin-left:8px;
                                    margin-top:8px;
                                }
                                >span:nth-child(2){
                                    margin-left:8px;
                                    margin-top:8px;
                                }
                                >span:nth-child(3){
                                    float:right;
                                    margin-top:8px;
                                    margin-right:8px;
                                    position:relative;
                                    &::before{
                                        content:'';
                                        display:block;
                                        width:11px;
                                        height:14px;
                                        position:absolute;
                                        top:0;
                                        left:-16px;
                                        background:url('../img/carlist_img/carlistjingling.fw.png')
                                    }
                                }
                            }
                            >ul{
                                height:115px;
                                >li{
                                    
                                }
                                >li:nth-child(1){
                                    float:left;
                                    height:115px;
                                    border-right:1px solid #E1E9EF;
                                    >img{
                                        display:block;
                                        margin-left:15px;
                                        width:85px;
                                        height:97px;
                                        float:left;
                                    }
                                    >p:nth-child(2){
                                        float:left;
                                        width:100px;

                                        margin-top:40px;
                                        margin-left:10px;
                                    }
                                    >p:nth-child(3){
                                        float:left;
                                        width:100px;
                                        margin-top:40px;
                                        margin-left:10px;
                                    }
                                }
                                >li:nth-child(2){
                                    
                                }
                            }
                        }
                    }
                }
            }

            // 3.1.3结算栏
            >div:nth-child(3){
                z-index: 10;
                width: 1168px;
                height: 30px;
                line-height: 30px;
                margin:0 auto;
                padding: 15px;
                background: #f5f8fa;
                border: 1px solid #e1e9ef;
                margin-bottom:30px;

                // 3.1.3.1左部
                >div:nth-child(1){
                    float:left;
                    >span:nth-child(3){
                        margin-left:5px;
                        cursor:pointer;
                    }

                    >button:nth-child(4){
                        border-radius: 3px;
                        padding: 0;
                        border: 1px solid #dcdcdc;
                        background: #f5f5f5;
                        width: 88px;
                        height: 24px;
                        line-height: 24px;
                        margin-left: 15px;
                        font-size: 12px;
                        letter-spacing: 1px;
                    }
                }

                // 3.1.3.2右部
                >div:nth-child(2){
                    float:right;
                    >p,div,button{
                        float:left;
                    }
                    >p{
                        >span{
                            color:#e52d88;
                        }
                    }
                    >div:nth-child(2){
                        margin:0 30px;
                        color: #e52d88;
                    }
                    >button{
                        border-radius: 3px;
                        width: 100px;
                        height: 30px;
                        font-size: 18px;
                        background: #e52d88;
                        color:#fff;
                        border:none;
                    }
                }
            }
        }
    }
}