#container > div:nth-child(2) {
  border-top: 2px solid #BC338B; }
  #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    width: 1160px;
    height: 26px;
    line-height: 26px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 15px 20px;
    border: 1px solid #c6c6c6; }
    #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
      float: left; }
      #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > span, #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) input, #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) button {
        display: block;
        float: left; }
      #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > input:nth-child(2) {
        width: 168px;
        height: 24px;
        line-height: 24px;
        padding: 0 0 0 10px;
        border: 1px solid #c6c6c6; }
      #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > span:nth-child(3) {
        padding-left: 10px; }
      #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > input:nth-child(4) {
        width: 68px;
        height: 24px;
        line-height: 24px;
        padding: 0 0 0 10px;
        border: 1px solid #c6c6c6; }
      #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > button:nth-child(5) {
        color: #fff;
        border: none;
        width: 66px;
        height: 26px;
        margin-left: 20px;
        background: #1c3a8b; }
    #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
      float: right; }
      #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > span:nth-child(1) {
        float: left; }
      #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > button:nth-child(3) {
        float: left; }
  #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) {
    z-index: 10;
    width: 1168px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    padding: 15px;
    background: #f5f8fa;
    border: 1px solid #e1e9ef;
    margin-bottom: 30px; }
    #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) {
      float: left; }
      #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > span:nth-child(3) {
        margin-left: 5px;
        cursor: pointer; }
      #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > button:nth-child(4) {
        border-radius: 3px;
        padding: 0;
        border: 1px solid #dcdcdc;
        background: #f5f5f5;
        width: 88px;
        height: 24px;
        line-height: 24px;
        margin-left: 15px;
        font-size: 12px;
        letter-spacing: 1px; }
    #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) {
      float: right; }
      #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) > p, #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) div, #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) button {
        float: left; }
      #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) > p > span {
        color: #e52d88; }
      #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) {
        margin: 0 30px;
        color: #e52d88; }
      #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) > button {
        border-radius: 3px;
        width: 100px;
        height: 30px;
        font-size: 18px;
        background: #e52d88;
        color: #fff;
        border: none; }
