#container > div:nth-child(2) {
  background-color: #BCECFA; }
  #container > div:nth-child(2) > div:nth-child(1) {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 110px; }
    #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
      float: left;
      width: 720px;
      height: 400px;
      background: url("../img/login_img/lunbotu1.jpg"); }
    #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
      float: left;
      width: 438px;
      height: 400px; }
      #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
        width: 438px;
        height: 40px;
        padding: 0;
        background-color: #F5F8FA;
        text-align: center;
        line-height: 40px;
        color: #bc338b; }
      #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div {
        position: relative;
        width: 438px;
        background-color: #FFFFFF;
        padding-bottom: 30px; }
        #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div > div:nth-child(1) {
          padding-left: 40px;
          padding-top: 20px; }
          #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div > div:nth-child(1) > input {
            width: 356px;
            height: 36px; }
        #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div > div:nth-child(2) {
          padding-left: 40px;
          padding-top: 20px; }
          #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div > div:nth-child(2) > input {
            width: 356px;
            height: 36px; }
        #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div > div:nth-child(3) {
          padding-left: 40px;
          padding-top: 20px; }
          #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div > div:nth-child(3) > input {
            width: 356px;
            height: 36px; }
        #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div > div:nth-child(4) {
          padding-left: 40px;
          padding-top: 20px; }
          #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div > div:nth-child(4) > input {
            width: 356px;
            height: 36px; }
        #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div > div:nth-child(5) {
          overflow: hidden;
          padding-left: 40px;
          padding-top: 20px; }
          #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div > div:nth-child(5) > input {
            float: left;
            width: 196px;
            height: 36px; }
          #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div > div:nth-child(5) > span {
            display: block;
            float: left;
            width: 146px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background-color: #F5F5F5;
            margin-left: 10px; }
        #container > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div > button:nth-child(6) {
          border: none;
          display: block;
          width: 360px;
          height: 40px;
          background-color: #BC338B;
          line-height: 40px;
          text-align: center;
          margin: 0 auto;
          margin-top: 60px;
          color: #fff;
          font-size: 18px; }
